# use flake
export XS_PROJECT_ROOT=$(pwd)
export NEMU_HOME=$(pwd)/NEMU
export AM_HOME=$(pwd)/nexus-am
export NOOP_HOME=$(pwd)/XSAI

export DRAMSIM3_HOME=$(pwd)/DRAMsim3

# Linux Kernel 相关环境变量
export RISCV_LINUX_HOME=$(pwd)/firmware/riscv-linux
export RISCV_ROOTFS_HOME=$(pwd)/firmware/riscv-rootfs
export WORKLOAD_BUILD_ENV_HOME=$(pwd)/firmware/nemu_board
export OPENSBI_HOME=$(pwd)/firmware/opensbi