out/
.direnv/
.envrc.local
.vscode/
software/*
!software/README.md
local/
*.cache/*
__pycache__/
*.py[cod]
simpoint_eval_*.json
*.metals
firmware/*linux*
compile_commands.json
**/build
**/build-*
**/Build*
log/
firmware/checkpoints
.debug/
.venv/
*.log
*.log.*
*.dmp
*.core
*.core.*
*.dmp.*
*/NEMU/resource/*
